* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.banner {
    display: flex;
    min-width: 100vh;
    height: 3rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border: 1px solid red;
}

.logo {
    font-size: 1.5rem;

}

ul {
    list-style: none;
    font-size: 1rem;
    gap: 8px; 
    border: 1px solid red;
    display: flex;

}