* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.banner {
    display: flex;
    min-width: 100vh;
    height: 3rem;
    padding: 1rem 4rem;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #1F2937;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
}

ul {
    list-style: none;
    font-size: 0.9rem;
    font-weight: 600;
    gap: 0.4rem; 
    display: flex;
}

.pg-one {
    background-color: #1F2937;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}

.herotext {
    font-size: 3rem;
    color: #F9FAF8; 
    font-weight: 900;
    padding: 1rem; 
    min-width: 40vh;
    flex: 1 0 auto;
}

.pageonefont {
    font-size: 18px;
    color: #E5E7EB;
}

.text-container .signup {
    justify-content: center;
    background-color: #3882f6;
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 5px 10px;
    margin: 1rem auto;
    border-radius: 5px;
}

#imageholder {
    box-sizing: border-box;
    padding: 100px 60px 100px 60px;
    margin: 0 1.5rem;
    border: 1px solid white;
    background-color: grey;
    color: white;
    justify-content: center;
    align-content: center;
    flex: 0 0 auto; 

}
.footer {
    background-color: #1F2937;
}